<h1>Обо мне</h1>
<p>Однажды морковка шла-шла и встретила Саурона.
  "Тыыыы боиишься выйти из границ тююрьмыыы!", пропела храбрая морковка пред Сауроном.
  Саурон в ответ запостил гифку с Арагорном "наступит день, когда я гивафак, но не сегодня!".
  Морковка покраснела, но Саурон сделал вид, что не заметил, ибо морковка и так была рыже-красного оттенка.</p>
  <p>Тут весьма некстати под руку подлез неведомо откуда Финрод и пропел лирическим баритоном
    "...но в мире нет приправы, Хуже чем морковь". Саурон, в силу своей натуры не хотел измываться
    над морковкой и дальше, но не смог удержаться, чтобы не вступить кантанто
    "от черных скал до дальних берегов". </p>
    <p>Тингол, используя технологические новинки от Мелиан, внезапно голосом "аки с неба" напомнил,
      что это в определенном смысле расизм и нельзя измываться над олвар и келвар,
      ибо Йаванна пожалуется Ауле, Ауле пожалуется Манвэ, а Манвэ пожалуется Эру.
      В результате все немножко притихли, и только Берен, стоявший неподалеку от Финрода очень громко прошептал,
      чтобы все услышали, но сделали вид, что не слышали "пфф, от расиста слышу, "папа". </p>
    <p>К счастью, Тингол этого не слышал, потому что в крепостях, подвластных Морготу,
      плохо ловил ЭЛЬФлайн, и даже Вардастар испытывал влияние помех и связь часто обрывалась.
      Морковь, о которой все успели забыть, выразила мнение, что это все в порядке вещей и
      она не в обиде, но героям было уже несколько не до нее, потому что Хуан больше любил бифштексы с кровью,
      а Лютиэн так вообще могла одним фотосинтезом обходиться, славь Эру майарские корни.</p>
  <p>Спросите, что это все говорит обо мне?
    Если вы меня знаете, то это вам скажет очень много обо мне, а если нет - гуляйте Таур-на-Нелдор.
    Пишите, звоните, стучите.</p>
