<div class="text-center" style="margin-top: 40px;">
    <% if @photos %>
      <% if @photos.respond_to?(:each) %>
        <% @photos.each do |photo| %>
              <figure>
                <%= image_tag photo.photo.url, width: "400" %>
                <figcaption>
                  <%= photo.title %>
                </figcaption>
              </figure>
        <% end %>
      <% else %>
          <%= image_tag @photos.photo.url, height: "550" %>
      <% end %>
    <% end %>
</div>
