<div class="text-center bottomness" style="margin-top: 40px;">
    <% if @photos %>
      <% if @photos.respond_to?(:each) %>
          <div class="photoset-grid-custom" style="visibility: hidden;">
            <% @photos.each do |photo| %>
                    <%= image_tag photo.photo.url, alt: photo.title %>
            <% end %>
          </div>
          <%= render partial: 'landing' %>
      <% else %>
          <%= image_tag @photos.photo.url, height: "550" %>
      <% end %>
    <% end %>
</div>


