<h2>Андромэ!</h2>
<p>Парадоксально, но кто-то решил тебе написать письмо, воспользовавшись формой на сайте.</p>
<p>Этого человека зовут <%= @name %>. Вот текст его письма:</p>
<p>"<%= @body %>"</p>

<p>Всегда твой, Никита-на-сайте, робо-нольдо в изгнании.</p>